.lambtitle {
    color: blueviolet;
    font-size: 400px;
    background-color: aqua;
    text-align: center;
}
.bruh {
    color: red;
}

.csgo {
    text-align: left;
    color: aqua;
    font-size: 45px;
}

#pikcha1 {
    text-align: right;
    width: auto;
    height: auto;
}